.header {
    display: flex;
    align-items: center;
    background: #535353;
}

@media (min-width: 768px) and (orientation: portrait), (min-width: 824px) and (orientation: landscape) {
    .header {
        background: transparent;
        padding: 16px 24px;
    }
}