.startSearch {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    > h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 16px;
    }

    > p {
        font-size: 1.3rem;
    }
}