#sideBar {
    display: none;
    background: #000;
}

@media (min-width: 768px) and (orientation: portrait), (min-width: 824px) and (orientation: landscape) {
    #sideBar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        > picture > img {
            margin-top: 16px;
            width: 45px;
        }
    }
}

@media (min-width: 1024px) {
    #sideBar {
        align-items: flex-start;

        > picture > img {
            margin-top: 24px;
            margin-left: 24px;
            width: 131px;
        }
    }
}